*,
  *:before,
  *:after {
     box-sizing: border-box;
  }

/**********************header styles**********************/

header, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 3%;
    top: 0;
}

/***********Primera sección****************************/
h1 {
  font-size: 48px;
  margin: 0;
}

.seccion1_text img {
  position: absolute;
  height: 400px;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
}

.seccion1_text {
  position: relative;
  background-color: #509bf5;
  display: flex;
  justify-content: center;
  padding: 80px 0 20px 0; 
  flex-wrap: wrap;
  z-index: 0;
}

.premium {
  width: 80%;
  color: white;
  font-weight: bold;
}

.section1_text-terms, .suscribete p{
  margin-top: 10px;
  width: 95%;
  color: white;
  font-size: 12px;
}

.section1_text-terms a:visited{
  color: white;
}


/******************controles del boton********************/

 .seccion1_text .ver_planes {
  background-color: #1db954;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 500px;
  text-align: center;
  padding: 17px 48px;
  letter-spacing: 2px;
  border: 0;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

.ver_planes:hover {
  background-color: #27e469;
}

/**************END Primera sección / inicio segunda seccion********************/

.section2_titulo, .section3_titulo {
  margin: 40px 40px 0 40px;
  text-align: center;
  font-weight: bold;
}

.section2_opciones, .section3_opciones {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section2_opciones .opcion {
  display: flex;
  width: 520px;
  height: auto;
  font-size: 18px;
  align-items: center;
  margin: 0 0 0 10px;
}

.section2_opciones .opcion div {
  padding: 10px;
}

h3  {
  font-size: 21px;
}

/**************END segunda sección / inicio tercera seccion********************/

.section3 {
  background-color: #efefef;
  padding-bottom: 20px;
}

.section3_titulo {
  padding: 10px 20px;
}

.section3_opciones {
  justify-content: center;
  font-size: 18px;
  display: flex;
}

.section3_opciones .opcion {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.397);
  width: 480px;
  padding: 20px 20px;
}

.insignia {
  width: 110px;
  background-color: rgb(46, 119, 208);
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: .5em;
  border-radius: 5px;
}

.checklist {
  padding-top: 10px;
}

.checklist_item {
  display: flex;
  align-content: center;
  align-items: center;
}

.checklist_item > img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/**************************button comenzar*******************************************/

.section3_opciones {
  display: flex;
}

.section3_opciones .opcion {
  margin: 0 10px 20px 10px;
  display: grid;
  grid-template-rows: 210px auto 150px;
}

.suscribete p {
  color: rgb(116, 116, 116);
}

.suscribete a:visited {
 color: rgb(116, 116, 116);
}

.suscribete {
   display: flex;
   flex-direction: column;
}

.suscribete .button_comenzar {
  background-color: #1db954;
  color: white;
  font-weight: bold;
  margin: 30px 30px 10px 30px;
  border-radius: 500px;
  text-align: center;
  padding: 20px 80px;
  letter-spacing: 2px;
  border: 0;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-size: 15px;
}

.button_comenzar:hover {
  background-color: #27e469;
}

/**************END tercera sección / inicio footer********************/

footer {
  background-color: black;
  padding: 20px;
}

footer .spotify_logo {
  margin: 30px 0;
}

footer .navegacion {
  display: flex;
  flex-direction: column;
}

footer .navegacion_item {
  margin: 25px 0;
}

footer .navegacion p {
  color: rgb(165, 165, 165);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 13px;
}

footer .navegacion a {
  color: white;
  letter-spacing: 0;
  font-size: 17px;
  margin: 10px 0;
  text-decoration: none;
}

footer .navegacion a:hover {
  color: #27e469;
}

.navegacion_item {
  display: flex;
  flex-direction: column;
}

footer .redes_sociales {
  display: flex;
  flex-direction: row;
}

footer .redes_sociales img {
  height: 25px;
  background-color: white;
}

footer .redes_sociales img:hover {
  background-color: #27e469;
}

footer .redes_sociales a {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgb(35, 35, 35);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin: 20px 15px 30px 0;
}

/**************************Parte legal***************/

footer .legal {
  color: rgb(153, 153, 153);
  font-size: 11px;
}

.legal p {
  display: flex;
  flex-direction: row-reverse;
}

.legal-grid {
  display: grid;
  grid-template-columns: 72% 28%;
}

.legal-grid .derecha {
  display: flex;
  flex-direction: row-reverse;
}

.contenido_legal {
  display: flex;
  flex-wrap: wrap;
}

.contenido_legal a{
  margin-right: 30px;
  margin-bottom: 25px;
  text-decoration: none;
}

.contenido_legal a:visited {
  color: rgb(153, 153, 153);
}

.contenido_legal a:hover {
  color: #27e469;
}


@media only screen and (min-width: 750px) and (max-width: 925px) {
  .seccion1_text img {
    display: inherit;
  }
}

@media only screen and (min-width: 925px) and (max-width: 1000px) {

  .seccion1_text img {
    display: inherit;
  }

  .seccion1_text {
    padding: 140px 30px 20px 40px; 
  }

  footer {
    padding: 20px 80px;
  }

  footer .navegacion {
    flex-direction: row;
  }

  footer .navegacion_item {
    margin: 25px 50px 25px 0;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1400px) {

  .seccion1_text img {
    display: inherit;
  }

  .seccion1_text {
    padding: 140px 30px 20px 40px; 
  }

  footer {
    padding: 20px 80px;
  }

  footer .navegacion {
    flex-direction: row;
  }

  footer .navegacion_item {
    margin: 25px 50px 25px 0;
  }

  .section3_opciones .opcion {
    width: 370px;
    padding: 20px 20px;
  }

}

@media only screen and (min-width: 1400px) {

  .seccion1_text img {
    display: inherit;
    right: 100px;
  }

  .seccion1_text {
    padding: 140px 30px 20px 40px; 
  }

  footer {
    padding: 20px 80px;
  }

  footer .navegacion {
    flex-direction: row;
  }

  footer .navegacion_item {
    margin: 25px 50px 25px 0;
  }

  .section3_opciones .opcion {
    width: 370px;
    padding: 20px 20px;
  }

}